* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  background-color: rgb(128, 0, 0);
}

body {
  margin: 10px;
  font-family: sans-serif;
  background-color: rgb(128, 73, 0);
  
  /* height: 100%; */
}

ul {
  list-style-type: none;
}

#app-container {
  /* display: flex;
  flex-direction: row;
  height: 100%; */
  /* overflow: hidden; */
  background-color: rgb(67, 195, 199);
  
}

.left {
  /* flex-basis: 0.2; */
  /* height: 100%; */
  display: inline-flex;
  background-color: green;
}

.right {
  display: inline-flex;
  
  /* flex-basis: 0.8; */
  /* height: 100%; */
  background-color: rgb(255, 157, 127)
}

.done {
  border-color: green;
}

.in-progress {
  border-color: yellow;
}

.not-done {
  border-color: red;
}

.not-applicable {
  border-color: gray;
}

.tab-panel {
  overflow: hidden;
  border: 1px solid #ccc;
  /* background-color: #f1f1f1; */
}

.tab-items{
  background-color: inherit;
  /* display: inline-block; */
  border-bottom: 1px solid #ccc;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

.tab-items:hover {
  background-color: #ddd;
}

.tab-items:active {
  background-color: rgb(0, 59, 252);
}

.nav-bar {
  display: inline-flex;
  height: 100%;
}

/* .criteria {
  border-style: solid;
  font-size: 14pt;
  margin: 10px;
  padding: 25px;
  height: 100%;
  width: 200px;
  text-align: center;
} */