body {
  margin: 0;
  padding: 10px;
  font-family: sans-serif;
}

.category {
  position: relative;
  border-style: solid;
  text-align: center;
  margin: 10px;
  height: 100%;
}

.sub-category {
  border-style: solid;
  text-align: center;
  margin: 10px;
  height: 100%;
  width: 275px;
}

.criteria {
  border-style: solid;
  font-size: 14pt;
  margin: 10px;
  padding: 25px;
  height: 100%;
  width: 200px;
  text-align: center;
}

.done {
  border-color: green;
}

.in-progress {
  border-color: yellow;
}

.not-done {
  border-color: red;
}

.not-applicable {
  border-color: gray;
}

td {
  display: -webkit-inline-flex;
}

.container {
  position: auto;
  display: flex;
  overflow: hidden;
}

.category-tabs {
  height: 100%;
  width: 160px;
  background-color: rgb(134, 134, 134);
  overflow-x: hidden;
  padding-top: 20px;
}

